@font-face{
  font-family:'__symbols__';
  src:url(data:font/woff2;base64,d09GMgABAAAAAAIcAAsAAAAABIwAAAHRAAICDAAAAAAAAAAAAAAAAAAAAAAAAAAABmAANBEQCiA/ATYCJAMICwYABCAFhF4HIBviAwAuBuyWmxDjpYzRKB/P3o0dita2lsbH6mE8PH/4O/e91x7Y5jbIxDVJpnAUaBa2gaaFm7Ls//r5dR5Lf/E0Oc0NrD7w7WtIfTWsZedDRvRjlydWHFgQBhhRMOjyhNEk8zAPtyKAEMLBm6CjiV3RkU5o63N4gT49epRYoF8gTbBIA7VAPXUnslfpQc3cLyhpP4Ya0mWCU58f9ya9OAylpeXpWLYR7pkiVexuTEkSkPpzYYCEhIxuqkA3zQBJUQQjw///8j2vBwKErF6jDvr/PyCBgkA9GgEFEPWbgVqiyeTD7o4PBFJq/qnctvR3av6Gl28d3uZ7lf+C1nKhTgLB5+xzBlCZkmlPpnzhIC1TZCS9VBAAAKizRxWlAWecURjzQEmre5SteaJiNgjVOIn4v7XGY5uDzu6okC/AgbKisjKwEnCBCcQhMEOhiOuIA10CF0AUAwwBjjtj2goKfCEuIBzkHaFUQQZxyIMyHFPA3KUOUIIxXy4u7WXYaPPeA5QtuHxCYo/eGwM7a9twUUwIZfUIeUVFTdWhaHYMuI5cFc9FEdU42Y+rOka5KfZRrn0UDjZQcqgZq1MxtqQK1L2cQ77NqE20IcHLuapJ9P8wCQAA) format('woff2');
  font-weight:normal;
  font-style:normal;
  unicode-range:U+2423;
}
